.users-list {
  display: flex;
  flex-flow: row wrap;

  margin-top: 30px;
}
.user {
  width: 30%;
  padding: 15px;
  margin: 15px;

  border-radius: 15px;
  background-color: #f1f1f1;
}
@media (max-width: 1100px) {
  .user {
    width: 45%;
  }
}
@media (max-width: 750px) {
  .user {
    width: 100%;
  }
}
.user > div {
  margin-bottom: 10px;
}
.user__key {
  color: rgb(42, 82, 99);
  margin-right: 5px;
}
.user__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user__info > div {
  max-width: 70%;
}
.user__avatar {
  height: 80px;
  width: auto;
  max-width: 30%;
}
.user__profile-link {
  color: rgb(32, 107, 137);
}
