* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 80%;
  margin: auto;
  padding-top: 30px;
}
.slider-view {
  position: relative;

  width: 900px;
  max-width: 90%;
  height: 500px;
  max-height: 80vw;
  margin: auto;

  overflow: hidden;
}
.slider-view:after {
  position: absolute;
  content: "";
  left: 50%;
  top: 0;
  bottom: 0;
}
.slider {
  display: flex;
  height: 100%;

  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;

  /* в скрипте в начало слайдера будет добавлен последний слайд,
  поэтому сдвигаем слайдер на один слайд вправо */
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.slide {
  display: block;
  min-width: 100%;
  height: 100%;
}
.slider__btn{
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;

  background: rgba(0, 0, 0, 0.453);
  color: gray;
  outline: 1px solid gray;
  cursor: pointer;
  transition: all 0.2s;
  border: none;
}
.slider__btn svg {
  width: 40px;
  height: 30px;
}

.slider__btn:focus,
.slider__btn:hover {
  outline: 1px solid white;
  color: white;
  background-color: rgba(128, 128, 128, 0.652);
}
.slider__btn:disabled {
  color: black;
  outline: 1px solid black;
}
.slider__btn-prev {
  left: 0;
}
.slider__btn-next {
  right: 0;
}
.slide img {
  width: 100%;
  height: 100%;
}
.indicators {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;

  width: 100%;
  padding: 0;

  list-style: none;
}
.indicator {
  width: 40px;
  height: 7px;
  margin: 5px;

  background: rgb(192, 191, 191);
  cursor: pointer;
}
.indicator:hover {
  background: #fff;
}
.indicator.active {
  background: orange;
}
.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
