body {
  background: linear-gradient(
    to right,
    rgb(86, 59, 107),
    rgb(71, 130, 134),
    rgba(21, 141, 129, 0.9)
  );
}
header {
  padding-top: 5vh;
  margin: auto;
  max-width: 1920px;
  background: rgba(143, 67, 133, 0) !important;
  margin-bottom: 0px !important;
  background-image: linear-gradient(
      to right,
      rgba(143, 73, 192, 0.3),
      rgba(9, 109, 100, 0.1)
    ),
    url("../img/c632b3bc2ec8f30871d02bb21d3e29e2.jpg") !important;
  background-position-x: center !important;
  min-height: 100vh;
  padding-bottom: 30px;
  max-height: 980px;
  overflow: hidden;
}
@media screen and (max-width: 850px){
  header{
    background-image: linear-gradient(
      to right,
      rgba(93, 36, 133, 0.7),
      rgba(9, 109, 100, 0.7)
    ),
    url("../img/c632b3bc2ec8f30871d02bb21d3e29e2.jpg") !important;
    min-height: 50vh;
  }
}
.header__searchForm{
    background-color: rgba(61, 27, 43, 0.6) !important;
}
.intro {
  justify-content: start;
  padding-left: 15%;
  color: #fff;
}
.intro__title {
  padding: 80px;
  margin-top: 100px;
  background-color: rgba(61, 38, 78, 0.8);
  width: 600px;
  padding-bottom: 500px;
}
.intro__title > h1 {
  color: rgba(118, 202, 202, 0.9);
  letter-spacing: 0.1em;
  font-size: 3em;
}
.intro__title > h3 {
  color: rgba(129, 189, 189, 0.9);
  letter-spacing: 0.09em;
  margin-top: 40px;
  font-size: 1.6em;
}
@media screen and (max-width: 850px){
  .intro {
    padding-left: 0;
  }
  .intro__title {
    padding: 30px 10px 80px 30px;
    margin-top: 50px;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .intro__title > h1 {
    letter-spacing: 0.1em;
    font-size: 1.3em;
  }
  .intro__title > h3 {
    letter-spacing: 0.09em;
    margin-top: 30px;
    font-size: 1em;
  }
}
.content__container {
  max-width: 1920px;
  margin: auto;
  margin-top: 70px;
}
.container {
    padding: 10px;
  width: 90%;
  margin: auto;
  display: flex;
  flex-flow: column;
  /* border:1px solid red; */
  background: linear-gradient(
    115deg,
    rgb(101, 72, 124),
    rgb(121, 109, 156),
    rgb(50, 126, 122),
    rgba(9, 102, 93, 0.541)
  );
  color: white;
}
.container>div{
    padding-bottom: 30px;
}
.match-review__titles {
  margin: auto;
  height: 100%;
  width: 100%;
  padding: 50px;
}
.match-review__titles > h2,
.hero-stats__title > h2 {
  font-size: 2em;
}
.match-review__titles > h3,
.hero-stats__title > h3 {
  margin-top: 40px;
  font-size: 1.5em;
}
.match-review__match,
.match-review__recents {
  display: flex;
  flex-flow: row;
}
.match-review__match img,
.match-review__recents img {
  box-shadow: 6px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.match-review__match img {
  width: 70%;
}
.match-review__match {
  margin-top: 30px;
}
.match-review__recents img {
  width: 50%;
}
@media screen and (max-width: 850px){
  .match-review__titles {
    margin: auto;
    padding: 20px;
  }
  .match-review__match,
  .match-review__recents {
    flex-flow: column !important;
  }
  .match-review__match img,
  .match-review__recents img {
    order: 2;
    width: 96% !important;
  }
  .match-review__titles > h2,
  .hero-stats__title > h2 {
    font-size: 1.5em;
  }
  .match-review__titles > h3,
  .hero-stats__title > h3 {
    margin-top: 10px;
    font-size: 1em;
  }
}
.hero-stats {
  padding: 20px;
  margin-top: 70px;
  height: 400px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
@keyframes cartRotate {
  0% {
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
  }
}
.hero-stats__cart img {
  width: 300px;
  height: 400px;
  position: absolute;
  margin-left: 30px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.hero-stats__cart img{
  animation-name: cartRotate;
  animation-duration: 12.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
.hero-stats__cart img:first-child {
  transform: rotate(-45deg);
}
.hero-stats__cart img:nth-child(2) {
  transform: rotate(-30deg);
}
.hero-stats__cart img:nth-child(3) {
  transform: rotate(-15deg);
}
.hero-stats__title {
  text-align: right;
  color: #fff;
}
@media screen and (max-width: 850px){
  .hero-stats {
    margin-top: 40px;
    height: 100%;
  }
  .hero-stats__cart{
    width: 200px;
    height: 200px;
    order: 2;
    margin-top: 20px;
  }
  .hero-stats__cart img {
    width: 150px;
    height: 250px;
  }
}
.profile-search {
  margin-top: 70px;
  padding: 40px;
}
.search-form {
  margin-top: 30px;
}
@media screen and (max-width: 460px){
  .search-form>input {
    width: 100%;
    text-align: center;
  }
  .search-form>button {
    margin-top: 10px;
    width: 100%;
  }
}