/* *{
    border:1px solid red;
} */
.match__result-header{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 30px;
}
.match__result-scores{
    display: flex;
    justify-content: space-between;
    width: 200px;
    align-items: center;
}
.match__victory{
    font-size: 2.5em;
}
.match__result-scores>h3:first-child{
    color:rgb(92, 179, 92);
}
.match__result-scores>h3:last-child{
    color:rgb(112, 22, 22);
}
.radiant{
    color:rgb(92, 179, 92);
}
.dire{
    color:rgb(112, 22, 22);
}
li{
    list-style: none;
}
.matches__list-container{
    overflow: auto;
}
.matches__list{
    padding: 15px;
    background-color:rgba(10,10,60, 0.2);
    min-width: 1300px;
}
.list{
    display: flex;
    flex-flow: row;
    padding-left: 10px;
    align-items: center;
    font-family: 'Rubik';
    margin-bottom: 3px;
    font-size: 12px;
}
.list:hover{
    background-color: rgba(82, 216, 221, 0.3);
}
.team-radiant{
    background-color: rgba(27, 155, 95, 0.3);
}
.team-dire{
    background-color: rgba(160, 25, 25, 0.3);
}
.list>li{
    min-width: 20px;
    margin-right: 5px;
}
.item__account{
    width: 200px;
    overflow: hidden;
}
.item__hero{
    width: 100px;
}
.item__hero-icon{
    margin-right: 5px;
    width: 50px;
}
.item__hero-icon img{
    width: 50px;
}
.item__lastHitsDen{
    width: 50px;
}
.item__dmg{
    width: 80px;
}
.item__totalGold{
    width: 80px;
    color:gold;
}
.item__kills{
    color:rgb(97, 11, 11);
}
.item__deaths{
    color:rgb(151, 151, 151);
}
.item__assists{
    color:rgb(90, 202, 118);
}
.item__heal{
    width: 60px;
}
.item__towerDmg{
    width: 40px;
}
.item__items-list{
    display: flex;
    flex-flow: row;
    width: 500px;
}
.item__items-list>div{
    margin: auto;
    display: flex;
}
.item__item{
    background-color: rgba(58, 42, 42,0.6);
    width: 40px;
    height: 30px;   
    border-color: rgba(83, 25, 25,0.3);
    border-style: inset;
    overflow: hidden;
}
.item__item>img{ 
    width: 35px;
    height: 25px;
}
.item__item:last-child{ /*Нейтральные предметы*/
    margin-left: auto;
}
.item__item:hover .item__modal {
    display: block;
}
.item__title{
    font-size: 13px;
    color: rgb(10, 209, 126);
}

.match__chat-block{
    max-height: 400px;
    overflow: auto;
    background-color:rgba(50, 4, 71,0.5);
    padding: 5px;
}
.slot1{
    color:royalblue;
}
.slot2{
    color:rgb(18, 206, 196);
}
.slot3{
    color:rgb(138, 73, 30);
}
.slot4{
    color:rgb(251, 255, 0);
}
.slot5{
    color:rgb(255, 0, 0);
}
.slot6{
    color:rgb(211, 95, 18);
}
.slot7{
    color:rgb(24, 158, 12);
}
.slot8{
    color:rgb(165, 15, 192);
}
.slot9{
    color:rgba(38, 218, 47, 0.808);
}
.slot10{
    color:rgb(9, 97, 85);
}
