.footer{
    max-width:1920px;
    width:100%;
    background: #fafafa;
    padding-top: 117px;
    padding-bottom: 70px;
    &__card{
        background-color: #fafafa;
        border:none;
    }
    &__title{
        font-size: 18px;
        font-weight: bold;
    }
    &__text{
        font-size: 12px;
        font-weight: 400;
    }
    &__copyright{
        background-color: #fafafa;
        margin-top: 106px;
        margin-left: 20px;
    }
}